.vmob .top .item {
    padding: 0 0.5em;
}

/* ---------------------------------------------------------------------- */

.vdesk {
}

/* ---------------------------------------------------------------------- */

.hmobile {
}

/* ---------------------------------------------------------------------- */

.hdesk {
}

/* ---------------------------------------------------------------------- */

.caption {
    position: absolute;
    font-size: 1.2em;
}

/* ---------------------------------------------------------------------- */

div.page-img {
    overflow: hidden;
}

div.img-separator {
    height: 1em;
    background-color: #F8F8F8;
}
